{% extends "default.html.twig" %}

{% block title %}oeuvres
{% endblock %}
{% block stylesheets %}
<link href="/static/css/works.css" rel="stylesheet">
<link href="/static/css/header.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
	integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
{% block body %}
{% include "header.html.twig" %}
{# page d'une oeuvres scpécifique #}
<div class="container">
	<div class="filters">
		<form id="filters" action="/oeuvres" method="post">
			<fieldset class="custom-fieldset">
				<legend>
					Filtres:
				</legend>
				Catégories :
				{% for Category in Categories %}
				<div class="myFilter">
					<img src = "data:image/png;base64, {{ Category.pictures}}"/>
					<p>
						<input class="category" type="radio" name="option" value="{{ Category.ID }}"/>
						{{ Category.Name }}
					</p>
				</div>
				{% endfor %}
				{% for tag in Tags %}
				<div class="myFilter">
					<img src = "data:image/svg+xml;base64,{{ tag.Image}}" alt="Image"/>
					<p>
						<input class="tag" type="checkbox" name="tag" value="{{ tag.ID }}" />
						{{ tag.Name }}
					</p>
				</div>
				{% endfor %}
				<div class="part2" style="display: none;">
					<p for="episodes">Nombre d'épisodes :
					</p>
					<input type="text" id="episodes" name="episodes" value=""></input>
				</div>
				<div class="part3" style="display: none;">
					<p for="tome">Nombre de Tomes :
					</p>
					<input type="text" id="tome" name="tome" value=""></input>
				</div>
				<input type="submit" value="Valider" class="custom-button">
			</fieldset>
		</form>
	</div>
	<div class="works">
		{% for work in Works %}
		<a href="/resume?id={{ work.ID }}">
			<div class="work">
				<div class="circle"></div>
				<div class="circle"></div>
				<div class="work-inner">
					<div class="left-inner">
						<img src="data:image/png;base64,{{ work.Image }}" />
						<p class="title no-link">{{ work.Name }}</p>
					</div>
					<div class="right-inner">
						<div class="categ">
							<p class="summary no-link">Résumé :</p>
							<p>{{ work.Summary }}</p>
						</div>
						<div class="categ">
							<p class="status no-link">Status :</p>
							<p>{{ work.Status }}</p>
						</div>
						{% if work.Category == "Series" %}
						<div class="categ">
							<p class="episodes no-link">Nombre d'épisodes :</p>
							<p>{{ work.NbEpisodes }}</p>
						</div>
						{% endif %}
						{% if work.Category == "Livres" %}
						<div class="categ">
							<p class="tome no-link">Nombre de tomes :</p>
							<p>{{ work.NbTome }}</p>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</a>
		{% endfor %}
	</div>
	<button id="add" class="add" {% if not User %} hidden{% endif %}>
		<i class="fas fa-plus"></i>
		Ajouter une oeuvre</button>
</div>
<div class="form" style="display: none;">
	<form action="/aWork" method="post"    style= "display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;">
		<p for="name">Titre</p>
		<input type="text" id="name" name="name" value=""></input>
		<p for="summary">Résumé</p>
		<textarea type="text" id="summary" name="summary"></textarea>
		<p for="status">Status</p><input type="text" id="status" name="status" value=""></input>
		<p for="category">Categorie</p>
		<select list="category" id="category" name="category">
			{# <option value="0">Sélectionner une catégorie</option> #}
			{% for Category in Categories %}
			<option value="{{ Category.ID }}">
				{{ Category.Name }}
				</option>
			{% endfor %}
			</select>
			<div class="part2" style="display: none;">
				<p for="episodes">Nombre d'épisodes</p>
				<input type="text" id="episodes" name="episodes" value=""></input>
				<p for="season">Nombre de Saisons :</p><input type="text" id="season" name="season" value=""></input>
			</div>
			<div class="part3" style="display: none;">
				<p for="tome">Nombre de Tomes :</p><input type="text" id="tome" name="tome" value=""></input>
			</div>
			<div class="tagsM"></div>
			<select class="NewTag">
				<option value="0">Ajouter un tag</option>
				{% for tag in Tags %}
					<option value="{{ tag.ID }}">
						{{ tag.Name }}
					</option>
				{% endfor %}
			</select>
			<div class="align">
			<button type="submit" value="Valider">Valider</button>
	</form>
	</div>
	<button id="cancel">Annuler</button>
</div>
<script src="/static/js/works.js"></script>
<script src="/static/js/home.js"></script>{% endblock %}