{% extends "default.html.twig" %}

{% block title %}panel admin
{% endblock %}
{% block stylesheets %}
	<link href="/../public/css/dashboard.css" rel="stylesheet">
{% endblock %}
{% block body %}page du panel admin
	<div class="Onglets" style="display: flex; gap: 10px">
		<p class="onglet">Users</p>
		<p class="onglet">Oeuvres</p>
		<p class="onglet">Tags</p>
		<p class="onglet">Categories</p>
		<p class="onglet">Lists</p>
		<p class="onglet">Category_Oeuvres</p>
		<p class="onglet">Tag_Oeuvres</p>
		<p class="onglet">List_Oeuvres</p>
	</div>
	<div class="crudUser">
		<h3>crudUser</h3>
		<h3>form update and add user</h3>
		<form action="/panelAdmin" method="post" enctype="multipart/form-data">
			<label for="update">selectionné le nom d'utilisateur:</label>
        	<input type="text" name="usernameSelect" />

			<label for="update">username:</label>
			<input type="text" name="username" />

			<label for="update">email:</label>
			<input type="text" name="email" />

			<label for="update">password:</label>
			<input type="password" name="password" />

			<label for="update">isAdmin:</label>
			<input type="number" name="isAdmin" min="0" max="1" />

			<label for="update">age:</label>
			<input type="number" name="age" min="10" max="100" />

			<label for="pictures">pictures:</label>
			<input type="file" name="pictures" />

			<input type="submit" name="update" value="update info user" />
			<input type="submit" name="submit" value="add user" />
        	<input type="submit" name="delete" value="delete user" />
		</form>
	</div>

	<div class="crudUser">
		<div class="readUSer">
			{% for user in userDetails %}
				<div class="read">
					<p id="read">id: {{user.idUser}}</p>
					<p id="read">username: {{user.username}}</p>
					<p id="read">email: {{user.email}}</p>
					<p id="read">password: {{user.passwordUser}}</p>
					<p id="read">age: {{user.age}}</p>
					<p id="read">isAdmin: {{user.isAdmin}}</p>
					<img id="image" src="data:image;base64,{{user.pictures}}" alt="Image"/>
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="crudOeuvres">
		<h3>crud Oeuvres</h3>
		<h3>form update and add oeuvres</h3>
		<form action="/panelAdmin" method="post" enctype="multipart/form-data">
			<label for="update">selectionné l'id de l'oeuvres:</label>
        	<input type="text" name="idSelect" />

			<label for="update">nameWorks:</label>
			<input type="text" name="nameWorks" />

			<label for="update">status:</label>
			<input type="text" name="status" />

			<label for="update">summary:</label>
			<input type="text" name="summary" />

			<label for="update">numberOfEpisodes:</label>
			<input type="number" name="numberOfEpisodes" />

			<label for="update">numberOfSeason:</label>
			<input type="number" name="numberOfSeason" />

			<label for="update">numberOfTome:</label>
			<input type="number" name="numberOfTome" />

			<label for="image">image:</label>
			<input type="file" name="image">

			<input type="submit" name="update2" value="update info oeuvres">
			<input type="submit" name="submit2" value="add oeuvres">
        	<input type="submit" name="delete2" value="delete Oeuvres">
		</form>
	</div>

	<div class="crudOeuvres">
		<div class="readOeuvres">
			{% for works in oeuvresDetails %}
				<div class="read">
					<p id="read">id: {{works.idWorks}}</p>
					<p id="read">name: {{works.nameWorks}}</p>
					<p id="read">status: {{works.status}}</p>
					<p id="read">summary: {{works.summary}}</p>
					<p id="read">numberOfEpisodes: {{works.numberOfEpisodes}}</p>
					<p id="read">numberOfSeason: {{works.numberOfSeason}}</p>
					<p id="read">numberOfTome: {{works.numberOfTome}}</p>
					<img id="image" src="data:image/png;base64,{{works.image}}" alt="Image" />
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="CrudTag">
		<h3>crud Tag</h3>
		<form action="/panelAdmin" method="post" enctype="multipart/form-data">
			<label for="update">selectionné le nom du tag:</label>
        	<input type="text" name="nameTagSelect">

			<label for="update">nom du tag:</label>
        	<input type="text" name="nameTag">

			<label for="image">pictures:</label>
			<input type="file" name="pictures">

			<input type="submit" name="update3" value="update tag">
			<input type="submit" name="submit3" value="add tag">
        	<input type="submit" name="delete3" value="delete tag">
		</form>
	</div>

	<div class="CrudTag">
		<div class="readTag">
			{% for tag in tagDetails %}
				<div class="read">
					<p id="read">id: {{tag.idTag}}</p>
					<p id="read">name: {{tag.nameTag}}</p>
					<img id="image" src="data:image/svg+xml;base64,{{tag.pictures}}" alt="Image" />
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="CrudCategory">
		<h3>crud Category</h3>
		<form action="/panelAdmin" method="post" enctype="multipart/form-data">
			<label for="update">selectionné le nom de la category:</label>
        	<input type="text" name="nameCategorySelect">

			<label for="update">nom de la category:</label>
        	<input type="text" name="nameCategory">

			<label for="image">pictures:</label>
			<input type="file" name="pictures">

			<input type="submit" name="update4" value="update Category">
			<input type="submit" name="submit4" value="add Category">
        	<input type="submit" name="delete4" value="delete Category">
		</form>
	</div>

	<div class="CrudCategory">
		<div class="readCategory">
			{% for Category in categoryDetails %}
				<div class="read">
					<p id="read">id: {{Category.idCategory}}</p>
					<p id="read">name: {{Category.nameCategory}}</p>
					<img id="image" src="data:image;base64,{{Category.pictures}}" alt="Image" />
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="CrudList">
		<h3>crud list</h3>
		<form action="/panelAdmin" method="post">
			<label for="update">selectionné l'id de la list:</label>
        	<input type="number" name="idSelect">

			<label for="update">nom de la list:</label>
        	<input type="text" name="nameList">

			<label for="update">idUser:</label>
			<input type="number" min="1" name="idUser">

			<input type="submit" name="update5" value="update list">
			<input type="submit" name="submit5" value="add list">
        	<input type="submit" name="delete5" value="delete list">
		</form>
	</div>

	<div class="CrudList">
		<div class="readList">
			{% for list in listDetails %}
				<div class="read">
					<p id="read">id: {{list.idList}}</p>
					<p id="read">name: {{list.nameList}}</p>
					<p id="read">idUser: {{list.idUser}}</p>
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="CrudWorksCategory">
		<h3>crud category des oeuvres</h3>
		<form action="/panelAdmin" method="post">
			<label for="update">selectionné l'id:</label>
        	<input type="number" name="idSelect">

			<label for="update">idWorks:</label>
        	<input type="number" min="1" name="idWorks">

			<label for="update">idCategory:</label>
			<input type="number" min="1" name="idCategory">

			<input type="submit" name="update6" value="update WorksCategory">
			<input type="submit" name="submit6" value="add WorksCategory">
        	<input type="submit" name="delete6" value="delete WorksCategory">
		</form>
	</div>

	<div class="CrudWorksCategory">
		<div class="readWorksCategory">
			{% for worksCategory in worksCategoryDetails %}
				<div class="read">
					<p id="read">id: {{worksCategory.id}}</p>
					<p id="read">idWorks: {{worksCategory.idWorks}}</p>
					<p id="read">idCategory: {{worksCategory.idCategory}}</p>
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="CrudWorksTag">
		<h3>crud tag des oeuvres</h3>
		<form action="/panelAdmin" method="post">
			<label for="update">selectionné l'id:</label>
        	<input type="number" name="idSelect">

			<label for="update">idWorks:</label>
        	<input type="number" min="1" name="idWorks">

			<label for="update">idTag:</label>
			<input type="number" min="1" name="idTag">

			<input type="submit" name="update7" value="update worksTag">
			<input type="submit" name="submit7" value="add worksTag">
        	<input type="submit" name="delete7" value="delete worksTag">
		</form>
	</div>

	<div class="CrudWorksTag">
		<div class="readWorksTag">
			{% for worksTag in worksTagDetails %}
				<div class="read">
					<p id="read">id: {{worksTag.id}}</p>
					<p id="read">idWorks: {{worksTag.idWorks}}</p>
					<p id="read">idTag: {{worksTag.idTag}}</p>
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="CrudListWorks">
		<h3>crud list de works</h3>
		<form action="/panelAdmin" method="post">
			<label for="update">selectionné l'id:</label>
        	<input type="number" name="idSelect">

			<label for="update">idWorks:</label>
        	<input type="number" min="1" name="idWorks">

			<label for="update">idList:</label>
			<input type="number" min="1" name="idList">

			<input type="submit" name="update8" value="update listWorks">
			<input type="submit" name="submit8" value="add listWorks">
        	<input type="submit" name="delete8" value="delete listWorks">
		</form>
	</div>

	<div class="CrudListWorks">
		<div class="readListWorks">
			{% for listWorks in listWorksDetails %}
				<div class="read">
					<p id="read">id: {{listWorks.id}}</p>
					<p id="read">idWorks: {{listWorks.idWorks}}</p>
					<p id="read">idList: {{listWorks.idList}}</p>
				</div>
			{% endfor %}
		</div>
	</div>
	<script src="/static/js/dashboard.js"></script>
{% endblock %}